{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/CSSStory2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Michelle Melissa</title>
    </head>
<body>
    <header>
        <div class ="header-border">
            <br>
        </div>
        <div class="logo">
            <a href="{% url 'home:myhome' %}"><img src="{% static 'img/logo-web-01.png' %}"></a>
        </div>
        <nav> 
            <ul>
                <li><a href="{% url 'home:myhome' %}">Home</a></li>
                <li><a href="{% url 'home:myabout' %}">About Me</a></li>
                <li><a href="{% url 'home:myexperience' %}">Experiences</a></li>
                <li><a href="{% url 'home:myportfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'home:mycontact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% block page_content %}
    {% endblock %}
    
    <footer>
        <div class ="footer-border" id="home-border">
            <br>
        </div>
    </footer>
</body>
</html>
