{% load static %}
body {
    background-color: #FFFFFF;
    font-family: 'Poppins';
    font-family: Poppins;
}

nav {
    float: right;
    display: flex;
    flex-basis: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 58px;
}

nav a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    color: #F8878F;
}

.header-border {
    left: 0;
    bottom: 0;
    width: 100%;
    background: url("../img/border-01.94ba7f38db91.png");
    background-size: cover;
}

#home-border{
    position:fixed;
}

.logo img{
    float:left;
    width: 28px;
    height:28px;
    margin-left:35px;
    margin-top:15px;
}

#profile-photo {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 100px;
    left:100px;
    z-index: 1;
}

#wave-profile {
    position: absolute;
    left: 27%;
    right: 49.44%;
    top: 16.41%;
    bottom: 68.26%;
    transform: rotate(2.93deg);
    z-index:2;
    transform: scale(0.7);
}

.hello-text {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 87px;
    color: #6E8BC6;
    position: absolute;
    width: 500px;
    height: 174px;
    left: 700px;
    top: 250px;
    z-index:2;
}

.text-background {
    font-style: normal;
    font-weight: bold;
    font-size: 268px;
    line-height:200px;
    color: rgba(242, 241, 246, 0.71);
    overflow:hidden;
}

#hello {
    position: absolute;
    width: 693px;
    height: 220px;
    left: 673px;
    top: 150px;
    z-index:-1;
}

.footer-border{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url("../img/border-01.94ba7f38db91.png");
    background-size: cover;
}

#get-in-touch {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    color: #F8878F;
    text-align: center;
    margin-top:80px;
    margin-bottom: 0px;
}

#michelle-melissa {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 55px;
    color: #FFFFFF;
    background: #6E8BC6;
    max-width: 320px;
    text-align: center;
    border-radius: 52px;
    margin:auto;
    margin-bottom: 0px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    z-index:2;

}

.contact-icon div{
    margin:0;
    padding:0;
    transform: scale(0.6);
    z-index: 2;
}

#contact {
    position: absolute;
    width: 856px;
    height: 220px;
    left: 510px;
    top:350px;
    z-index: -1;
}

#contact-border{
    position: fixed;
}

#left-wave{
    position: absolute;
    float:left;
    transform: rotate(10deg) scale(1.45);
    left: 4%;
    right: 69.01%;
    top: 100px;
    bottom: 59.76%;
    width:300px;
}

#right-wave{
    position: absolute;
    float: right;
    transform: rotate(-172deg) scale(1.45);
    left: 1015px;
    top: 100px;
    bottom: 29.12%;
    width:300px;
    overflow: hidden;
}

#my-experiences{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    color: #F8878F;
    text-align: center;
    margin-top:80px;
    margin-bottom: 0px;
}

.vertical-line {
    border: 2px solid #6E8BC6;
	height: 300px;
    width: 0px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.experiences{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.left-container {
    left: 0;
    float: left;
}

.right.container {
    left: 60%;
    float: right;
}

.date{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #6E8BC6;
}

.experience-name {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background:#F8878F;
    border-radius: 17px;
    padding-left:10px;
}

#about-me {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    color: #F8878F;
    text-align: center;
    margin-top:80px;
    margin-bottom: 0px;
    z-index: 2;
}

.about-center-line{
    border: 2px solid rgba(129, 65, 65, 0.8);
	height: 375px;
    width: 0px;
    margin: auto;
    top:-180px;
    position: relative;
    z-index:2;
}

#about {
    z-index:-1;
    position: absolute;
    width: 664px;
    height: 220px;
    left: 700px;
    top: 70px;
}

.postcard-line {
    position: relative;
    top:-370px;
    z-index: 1;
}

.postcard-line hr{
    position: relative;
    margin:50px;
    left:51%;
    max-width: 525px;
    border: 1px solid rgba(129, 65, 65, 0.8);
    z-index: 1;
    top:-30px;
}

.photo-stamp {
    position: absolute;
    width: 243px;
    height: 315px ;
    left: 1100px;
    top: 75px;
    transform:scale(0.7);
    z-index:2;
}

.wave-about-1 {
    position: absolute;
    left: 75.2%;
    right: 9.78%;
    top: 28.81%;
    bottom: 59.67%;
    transform:scale(0.7);
    z-index:2;
}

.poscard-text{
    max-width:300px;
}

.postcard-text p{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2.5em;
    color: #000000; 
    z-index:2;
    position: absolute;
    left: 56%;
    top:345px;
}

.skills-stamps{
    position: relative;
    z-index:2;
    top:250px;
    background: rgba(110, 139, 198, 0.1);;
    width:650px;
    margin:0;
    align-content: center;
    transform:scale(0.7);
    display: inline-flex
}

#my-skills{
    position: absolute;
    width: 101px;
    height: 32px;
    left: 310px;
    top: 390px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #F8878F;

}

.skill-content p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #5382A1;
    margin:auto;
    text-align: center;
}

#my-education{
    position: absolute;
    width: 112px;
    height: 32px;
    left: 303px;
    top: 175px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #F8878F;
}

.education-line {
    position: absolute;
    border: 2px solid rgba(129, 65, 65, 0.8);
	height: 170px;
    width: 0px;
    top:230px;
    left:170px;
    position: absolute;
}

.edu-date {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #6E8BC6;
}

.edu-name{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
}

#date1{
    position: absolute;
    width: 131px;
    height: 32px;
    left: 183.93px;
    top: 210px;
}

#name1{
    position: absolute;
    width: 325px;
    height: 66px;
    left: 207px;
    top: 240px;
}

#date2{
    position: absolute;
    width: 134px;
    height: 32px;
    left: 184.93px;
    top: 310px;
}

#name2{
    position: absolute;
    width: 366px;
    height: 33px;
    left: 204px;
    top: 340px;
}

.wave-about-2{
    transform:scale(0.6);
    position: absolute;
    position: absolute;
    left: 2%;
    right: 77.48%;
    top: 46%;
    bottom: 37.47%;
}

.container-about{
    max-height: 440px;
}
#portfolio{
    z-index:-1;
    zindex-dropdown:1000 ;
    position: absolute;
    width: 664px;
    height: 220px;
    left: 685px;
    top: 70px;
}
#my-portfolio {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    color: #F8878F;
    text-align: center;
    margin-top:95px;
    margin-bottom: 0px;
    z-index:2;
}

.portfolio-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    margin-top:65px;
    z-index:2;
    margin-bottom: 30px;
}
.card{
    margin: 10px;
    box-shadow: 5px 10px 8px #888888;
    font-family: Segoe UI;
}

.card-title {
    color:#6E8BC6;
    font-display: bold;
}

.mr-3{
    width: 100px;
    height:100px;
}

.list-exp{
    z-index: 1;
}

.media {
    margin:10px;
    margin-top:30px;
    margin-left: 34%;
}

#experience{
    z-index: -1;
    float:right;
    position: absolute;
    left: 50%;
    top: 70px;
    width:674px;
    height :220px;
}

.mt-0 {
    color:#6E8BC6;
    font-display: bold;
}

.exp-content{
    font-family: 'Segoe UI';
}